<div id="background">
  <div class="card">
    <div class="card-body p-4">
      <img
        src="../../../assets/logo.png"
        alt="logo"
        class="mx-auto w-25 d-block"
      />
      <h4 class="text-center my-4">Create Your Account</h4>
      <form [formGroup]="form">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="John"
            id="name"
            formControlName="name"
          />
          <label for="name">Your name</label>
          <app-form-control-errors
            [control]="form.controls.name"
          ></app-form-control-errors>
        </div>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            placeholder="name@example.com"
            id="email"
            formControlName="email"
          />
          <label for="email">Email address</label>
          <app-form-control-errors
            [control]="form.controls.email"
          ></app-form-control-errors>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            id="password"
            formControlName="password"
          />
          <label for="password">Password</label>
          <app-form-control-errors
            [control]="form.controls.password"
          ></app-form-control-errors>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            placeholder="Password Confirmation"
            id="password_confirmation"
            formControlName="password_confirmation"
          />
          <label for="password_confirmation">Password Confirmation</label>
          <app-form-control-errors
            [control]="form.controls.password_confirmation"
          ></app-form-control-errors>
        </div>
        <button class="btn btn-primary w-100 text-white" (click)="signup()">
          Sign Up
        </button>
        <p class="text-center text-muted mt-4">
          Already have an account?
          <a [routerLink]="['/login']" class="text-primary text-decoration-none"
            >Sign in</a
          >
        </p>
      </form>
    </div>
  </div>
</div>
